{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       body{
            background-image: url("{% static 'gym2.jpg' %}");
            background-size:contain; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1{
            background-color:red;
        }
        h2{
            color: turquoise;
        }
        
    </style>
</head>
<body>
    {% csrf_token %}
    

    <center><h1>WELCOME TO MY GYM</h1></center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <center><a href="/log"><h2>click to login</h2></a></center>
</body>
</html>